<html>
<head>
    <meta charset='utf-8'>
    <title>LeetCode挑戰</title>   
</head>
<body>
    <h1><img src="https://theme.zdassets.com/theme_assets/9008406/036323c6afd10392aa5b7e3a2eb7557d17955c81.png" height="65px" align="center">2020 04/05月挑戰</h1>
    <hr>
    <p style="font-size:16pt;font-weight:bold;">
    {{ post.question }}
    </p>
    <p style="font-size:10pt;letter-spacing:1pt;">
    發佈時間：{{post.pubDate}}<br/>
    演算法：{{ post.algorithm }}
    </p>
    <p style="font-size:12pt;letter-spacing:1pt;">題目描述：<br>{{post.desc}}</p>
    <p style="font-size:12pt;letter-spacing:1pt;">答案：<br>{{post.answer}}</p>
    <hr>
    <h3><a href="/">回首頁</a></h3>
    <h3>現在時間：{{now}}</h3>
</body>
</html>