{% extends 'base.html' %}

{% block title %}
{{ post.question }}
{%  endblock %}

{% block headmessage %}
<p style="font-size:16pt;font-weight:bold;">{{ post.question }} &nbsp;<a href="/">回首頁</a></p>
{% endblock %}

{% block content %}
    <p style="font-size:10pt;letter-spacing:1pt;">
    發佈時間：{{post.pubDate}}<br/>
    演算法：{{ post.algorithm }}
    </p>
    <p style="font-size:12pt;letter-spacing:1pt;">題目描述：<br>{{post.desc | safe}}</p>
    <p style="font-size:12pt;letter-spacing:1pt;">答案：<br>{{post.answer | safe }}</p>
    <hr>
{% endblock %}